@charset "UTF-8";
/* ------------------------------- */
/* _variables.scss
/* ------------------------------- */
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ------------------------------- */
/* base.scss
/* ------------------------------- */
img {
  /* 元の画像より大きくなることもある */
  width: 100%;
  /* 画像の下の隙間を解消 */
  vertical-align: bottom;
}

.pc {
  display: block;
}
@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

body {
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Meiryo", "メイリオ", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0;
  color: #171717;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Meiryo", "メイリオ", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  padding-top: 44px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 16px;
  }
}
.header__inner {
  max-width: 1010px;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .header__inner {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 89px;
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 66px;
  }
}

.menu-icon {
  width: 39px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .menu-icon {
    width: 32px;
  }
}
.menu-icon__bar {
  display: inline-block;
  background-color: #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.menu-icon__bar:nth-last-of-type(1) {
  top: 10px;
}
@media screen and (max-width: 768px) {
  .menu-icon__bar:nth-last-of-type(1) {
    top: 9px;
  }
}
.menu-icon__bar:nth-last-of-type(3) {
  bottom: 10px;
}
@media screen and (max-width: 768px) {
  .menu-icon__bar:nth-last-of-type(3) {
    bottom: 9px;
  }
}

.fv {
  background-image: url(../images/OriginalDesign/fv__picture.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 48.4375%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .fv {
    height: 355px;
  }
}
.fv__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fv__title {
  max-width: 317px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fv__title {
    max-width: 158.5px;
  }
}
.fv__sub-title {
  margin-top: 47px;
  font-size: 2.2rem;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .fv__sub-title {
    margin-top: 20px;
    font-size: 1.2rem;
  }
}

.l-inner {
  max-width: 1010px;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin: auto;
}

.section-head {
  text-align: center;
}
.section-head__title {
  font-size: 4rem;
  letter-spacing: 0.02em;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.section-head__title::after {
  content: "";
  display: inline-block;
  background-color: #707070;
  width: 34px;
  height: 1px;
  position: absolute;
  top: 71px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .section-head__title::after {
    top: 56px;
    width: 27px;
    height: 1px;
  }
}
@media screen and (max-width: 768px) {
  .section-head__title {
    font-size: 3.1rem;
  }
}
.section-head__text {
  font-size: 16px;
  letter-spacing: 0.08em;
  line-height: 1.96;
  margin-top: 54px;
}

.common-text {
  font-size: 16px;
  letter-spacing: 0.08em;
  line-height: 1.96;
}

.concept {
  padding-top: 111px;
  padding-bottom: 94px;
  background: linear-gradient(180deg, #fff 0%, #fff 68%, #ededed 68%, #ededed 100%);
}
.concept__img {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .concept {
    padding-top: 68px;
  }
}

.works {
  padding-top: 114px;
  padding-bottom: 97px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}
.cards__item:nth-of-type(2) {
  margin-top: 130px;
}
.cards__item:nth-of-type(3) {
  margin-top: -233px;
}
.cards__item:nth-of-type(4) {
  margin-top: 101px;
}

.works-card {
  width: calc(50% - 59.5px);
}
.works-card__img {
  max-width: 420px;
  width: 100%;
}
.works-card__title {
  font-size: 3rem;
  letter-spacing: 0.02em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 32px;
}
.works-card__text {
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  line-height: 1.96;
  margin-top: 25px;
}

.florist {
  padding-top: 125px;
  padding-bottom: 0px;
  background: linear-gradient(180deg, #ededed 0%, #ededed 68%, #fff 68%, #fff 100%);
}
.florist__item {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.florist-card {
  max-width: 300px;
  width: 100%;
}
.florist-card__title {
  font-size: 3rem;
  letter-spacing: 0.02em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 23px;
}
.florist-card__text {
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  line-height: 1.96;
  margin-top: 25px;
}

.shop {
  padding-top: 142px;
  padding-bottom: 94px;
}
.shop__column {
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
}
.shop__img {
  width: 100%;
  max-width: 500px;
}

.shop-table {
  border-collapse: separate;
  border-spacing: 0px 29px;
}
.shop-table__head {
  font-size: 16px;
  letter-spacing: 0.08em;
  max-width: 100%;
  width: 95px;
}
.shop-table__body {
  font-size: 16px;
  letter-spacing: 0.08em;
  border-left: 1px solid #000;
  padding-left: 27px;
}
.shop-table__body > span {
  display: block;
}

.top-contact__contact {
  margin-top: 85px;
}

.contact {
  background-image: url(../images/OriginalDesign/contact-bg.png);
  background-size: center;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 420px;
  text-align: center;
  padding-top: 67px;
  padding-bottom: 50px;
}
.contact__btn {
  margin-top: 40px;
}

.btn {
  width: 352px;
  height: 82px;
  line-height: 82px;
  text-align: center;
  background-color: #fff;
  font-size: 2rem;
  letter-spacing: 0.08em;
  display: inline-block;
  border: 1px #707070 solid;
}
.btn__text {
  margin-left: 20px;
}

.footer {
  padding-top: 39px;
  padding-bottom: 39px;
}

.copyright {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.067;
}
/*# sourceMappingURL=style.css.map */