/* ------------------------------- */
/* _variables.scss
/* ------------------------------- */

$font-color-default: #171717;
$font-color: #282F35;
$bg-color: #fff;
$main-font: "Hiragino Sans", "ヒラギノ角ゴシック", "Meiryo", "メイリオ", sans-serif;
$sub-font: "Poppins", sans-serif;