@use "../global" as g;

/* ------------------------------- */
/* fv
/* ------------------------------- */
.fv {
    height: 100vh;
    width: 100%;
    position: relative;
    // background-color: #ff00ff;

    .fv-bg {
        &.top-img {
            @include g.imageRetina(kv-img, top);
        }
        &.about-img {
            @include g.imageRetina(heading-img, top);
        }
        &.contact-img {
            @include g.imageRetina(heading-img_contact, top);
        }
        height: 86.5vh;
        width: 76.4%;
        z-index: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        @include g.mediaTB {
            width: 78.1%;
            height: 86.9%;
        }
        .main-copy {
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%);
            .jp-copy {
                @include g.baseFont(2rem, normal, bold, #fff);
                @include g.mediaTB {
                    // font-size: 2.083vw;
                    font-size: 1.6rem;
                }
                &.fw-normal {
                    font-weight: normal;
                }
            }
            .name-copy {
                @include g.baseFont(2rem, normal, 700, #fff);
                margin-bottom: 10px;
                @include g.mediaTB {
                    // font-size: 2.083vw;
                    font-size: 1.6rem;
                }
            }
            .en-copy {
                @include g.baseFont(7.2rem, normal, 800, #fff);
                line-height: 1.2;
                @include g.mediaTB {
                    // font-size: 7.291vw;
                    // 固定でよさそう
                    font-size: 5.6rem;
                }
            }
            @include g.mediaTB {
                left: 85%;
            }
            @include g.mediaSP {
                left: 80%;
                &.sp-left-57{
                    transform: none;
                    top: 185px;
                    left: 50px;
                }
            }
        }
    }
    .black-bg {
        width: 54.2%;
        height: 100vh;
        background-color: #000;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    }
}
