@use "../global" as g;

.ceo-wrapper{
    padding-top: 144px;
    @include g.mediaTB{
        padding-top: 130px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        @include g.imageRetina(ceo-img,top);
        width: 420px;
        height: 282px;
        z-index: 5;
        @include g.mediaTB{
            width: 320px;
            height: 216px;
        }
        @include g.mediaSP{
            width: 340px;
            height: 230px;
            left: -40px;
        }

    }
    .message-content{
        // 770px/1100px
        width: 70%;
        background-color: #F0F0F0;
        padding: 120px 16.8% 90px;
        @include g.mediaTB{
            padding: 109px 5.65% 78px;
        }
        @include g.mediaSP{
            width: 100%;
            padding: 126px 28px 80px;
        }
    }

}