@use "../global" as g;

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    &__item {
        &:nth-of-type(2) {
            margin-top: 130px;
            @include g.mq(md) {
                margin-top: 100px;
            }
        }
        &:nth-of-type(3) {
            margin-top: -233px;
            @include g.mq(md) {
                margin-top: 100px;
            }
        }
        &:nth-of-type(4) {
            margin-top: 101px;
            @include g.mq(md) {
                margin-top: 100px;
            }
        }
        &:nth-of-type(odd) {
            @include g.mq(md) {
                margin-right: auto;
            }
        }
        &:nth-of-type(even) {
            @include g.mq(md) {
                margin-left: auto;
            }
        }
    }
    @include g.mq(md) {
        display: block;
    }
}
