@use "../global" as g;

.header {
    padding-top: 44px;
    padding-bottom: 44px;
    position: fixed;
    width: 100%;
    //bg-coverのz-index: 10;より大きく
    z-index: 20;
    @include g.mq(md) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    &__inner {
        max-width: 1010px;
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
        @include g.mq(md) {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    &__contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 89px;
        @include g.mq(md) {
            width: 66px;
        }
    }
    &--bg-change {
        background-color: #9b8172;
        transition: 0.5s;
    }
}
