@use "../global" as g;

.menu-icon {
    width: 39px;
    position: relative;
    @include g.mq(md) {
        width: 32px;
    }
    &__bar {
        display: inline-block;
        background-color: #fff;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        &:nth-last-of-type(1) {
            top: 10px;
            @include g.mq(md) {
                top: 9px;
            }
        }
        &:nth-last-of-type(3) {
            bottom: 10px;
            @include g.mq(md) {
                bottom: 9px;
            }
        }
    }
}
