@use "../global" as g;

.shop {
    padding-top: 142px;
    @include g.mq(md) {
        padding-top: 90px;
    }
    &__column{
        display: flex;
        justify-content: space-between;
        margin-top: 59px;
        @include g.mq(lg) {
            display: block;
            margin-top: 30px;
        }
    }
    &__img {
        width: 100%;
        max-width: 500px;
        @include g.mq(lg) {
            max-width: calc(689 / 750) *100% ;
            margin: 0 auto;
        }
    }
    &__table{
     margin: 0 auto;   
    }
}
