@use "../global" as g;

.shop-table {
    border-collapse: separate;
    border-spacing: 0px 29px;
    &__row {
    }
    &__head {
        font-size: 1.6rem;
        letter-spacing: 0.08em;
        max-width: 100%;
        width: 95px;
        @include g.mq(md) {
            font-size: 1.2rem;
            margin-top: 10px;
        }
    }
    &__body {
        font-size: 1.6rem;
        letter-spacing: 0.08em;
        border-left: 1px solid #000;
        padding-left: 27px;
        > span {
            display: block;
        }
        @include g.mq(md) {
            font-size: 1.2rem;
            margin-top: 10px;
        }
    }
}
