.shop {
    padding-top: 142px;
    padding-bottom: 94px;
    &__column{
        display: flex;
        justify-content: space-between;
        margin-top: 59px;
    }
    &__img {
        width: 100%;
        max-width: 500px;
    }
}
