.shop-table {
    border-collapse: separate;
    border-spacing: 0px 29px;
    &__row{
    }
    &__head {
        font-size: 16px;
        letter-spacing: 0.08em;
        max-width: 100%;
        width: 95px;
    }
    &__body {
        font-size: 16px;
        letter-spacing: 0.08em;
        border-left: 1px solid #000;
        padding-left: 27px;
        > span {
            display: block;
        }
    }
}
